<form>
    <mat-dialog-content>
        <div class="stack">
            <!-- TODO: Tipo de documento -->
            <mat-form-field>
                <mat-label>Nro de documento</mat-label>
                <input matInput />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Razón social</mat-label>
                <input matInput />
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nombre comercial</mat-label>
                <input matInput />
            </mat-form-field>
            <!-- TODO: Tipo de contribuyente -->
        </div>
    </mat-dialog-content>
</form>